@inherits LayoutComponentBase

<PageTitle>SimulationKernel</PageTitle>

<header>
  <NavMenu />
</header>

<div class="h-100">
  <main role="main" class="h-100">
    @Body
  </main>
</div>

<footer class="border-top bg-light text-center footer p-3">
  <div class="container">
    &copy; 2022 - <b>Simulation Kernel</b>
  </div>
</footer>