<div class="card m-5">
  <div class="card-body text-center">
    <span class="text-center">You are not allowed to see this page. <a class="link-primary" style="text-decoration: none" href="/Login">Login</a></span>
  </div>
</div>