@page "/fetchdata"
@inject IJSRuntime _JS

<PageTitle>Items</PageTitle>

@using DomainModel.SimulationKernel
@using SimulationKernel.Data
@inject ProcessedDataService ProcessedDataService


@if (Items == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        @foreach (var item in Items)
        {
          <SimulationItem Data="@item" />
        }
      </div>
    </div>
  </div>
}

@code {
  private IEnumerable<SimulationDataItem>? Items;

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    Items = Enumerable.Range(1, 15).Select(_ =>
    {
      var random = new Random();
      return new SimulationDataItem()
        {
          Name = $"Test_{_}",
          Status = (ProcessingStatus)random.Next(3),
          CreationDate = DateTime.Now,
          Duration = TimeSpan.FromMinutes(_)
        };
    });
  }
}