@page "/fetchdata"

<PageTitle>Items</PageTitle>

@using DomainModel.SimulationKernel
@using SimulationKernel.Data


@if (Items == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <div class="album py-5">
    <div class="container">
      <div class="row">
        @foreach (var item in Items)
        {
          <SimulationItem Data="@item" />
        }
      </div>
    </div>
  </div>
}

@code {
  private IEnumerable<SimulationMetadata>? Items;

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    Items = Enumerable.Range(0, 3).Select(index =>
    {
      return new SimulationMetadata()
        {
          Name = $"Test_{index}",
          Status = (ProcessingStatus) (index % 3),
          CreationDate = DateTime.Now,
          Duration = TimeSpan.FromMinutes(index)
        };
    });
  }
}